@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600;1,800&display=swap');

:root {
  font-family: 'Limelight', cursive;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --purple: #7D5B71;
  --purple-dark: #573C43;
  --brown: #734C2D;
  --off-white: rgba(255, 255, 255, 0.8);
  --off-brown: #F7E3D0;
  --br: 1rem;

  background-color: var(--off-brown);
  color: var(--purple-dark);
}

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
section {
  min-height: 100vh;
  height: 100%;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--purple);
}
a:hover {
  color: var(--dark-purple);
}

h1 {
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}
h1, h2, h3 {
  font-family: 'Limelight', cursive;
  color: var(--purple);
  font-style: italic;
}
h2, h3 {
  font-weight: 600;
}
h6 {
  font-size: 1rem;
  margin: 0.5rem 0 1rem 0;
}
p {
  margin: 0 0 2rem 0;
  color: var(--purple-dark);
  font-weight: 400;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  padding: 1rem;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2, h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.25rem;
  }
  .card {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .card {
    padding: 3rem;
  }
}
