:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --purple: #7D5B71;
  --purple-dark: #573C43;
  --brown: #734C2D;
  --off-white: rgba(255, 255, 255, 0.8);
  --off-brown: #F7E3D0;

  background-color: var(--off-brown);
  color: var(--purple-dark);
}

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  text-decoration: none;
}

p {
  margin: 0;
  color: var(--purple-dark);
}
